<header class="main-header">
  <a class='logo' href="/"><img src='/images/logo.png' title='Logo'></a>

  <!-- User Information -->
  <nav class="navbar navbar-expand-sm justify-content-end">
    <% if (locals.user) { %>
      <div class="navbar-inner user-view">
          <ul class="navbar-nav mr-auto nav-collapse">
            <li class="nav-item active">
              <a class="nav-link" href= <%= locals.user.google_id ? "https://aboutme.google.com/" : "/profile" %> target= <%= locals.user.google_id ? "_blank" : "" %> ><%= locals.user.name %><span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a class="nav-link" href= <%= locals.user.google_id ? "https://aboutme.google.com/" : "/profile" %> target= <%= locals.user.google_id ? "_blank" : "" %> >
                <img src="<%= locals.user.photo_url ? locals.user.photo_url : '/images/avatar.png'%>" alt="avatar">
              </a>
            </li>
            <li>
              <!-- Drop Down Menu -->
              <input id="burger" type="checkbox" />
              <label for="burger">
                <span></span>
                <span></span>
                <span></span>
              </label>
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href= <%= locals.user.google_id ? "https://aboutme.google.com/" : "/profile" %> target= <%= locals.user.google_id ? "_blank" : "" %> >Edit Profile</a></li>
                  <li><p class="archived" onclick="showArchived()">Archived</p></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </nav>

            </li>
          </ul>
      </div>
    <% } else { %>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login#register-form">Register</a>
          </li>
        </ul>
      </div>
    <% } %>
  </nav>
</header>
