<header class="main-header">
  <div class="logo">td</div>
  <nav class="navbar navbar-expand-sm justify-content-end">
    <% if (locals.user) { %>
      <div class="navbar-inner user-view">
          <ul class="navbar-nav mr-auto nav-collapse">
            <li class="nav-item active">
              <!-- <a class="nav-link" href="/profile"><%= locals.user.name %><span class="sr-only">(current)</span></a> -->
              <a class="nav-link" href= <%= locals.user.google_id ? "https://aboutme.google.com/" : "/profile" %> target="_blank"><%= locals.user.name %><span class="sr-only">(current)</span></a>
            </li>
            <li>
              <!-- <h3 style="color: white;"> <%= locals.user.google_id ? 'Google' : 'Local' %> </h3> -->
              <img style="width: 50px; height: 50px; border-radius: 100px; margin-top:2px; margin-bottom: 2px;" src="<%= locals.user.photo_url ? locals.user.photo_url : '/images/avatar.png'%>" alt="">
            </li>
            <li>
              <!--new hamburger-->
              <input id="burger" type="checkbox" />
              <label for="burger">
                <span></span>
                <span></span>
                <span></span>
              </label>
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/profile">Edit Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </nav>

              <!--old hamburg-->
              <!-- <div class="menu-collapsed">
                <div class="bar"></div>
                <ul class="nav-list">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Update</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div> -->

              <!-- <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" href="#">Update</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div> -->
            </li>
          </ul>
      </div>
    <% } else { %>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Create Account</a>
          </li>
        </ul>
      </div>
    <% } %>
  </nav>
</header>
