<main class='main-login'>

  <div id='container'>

    <div id='tab-container'>
      <a href="#register-form" id="register" class="tab register">Register</a>
      <a href="#login-form" id="login" class="tab select">Login</a>
    </div>

    <div id='panel'>

      <form id='login-form' action='/login' method='POST'>
        <h2>Login</h2>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
          </div>
          <input type="email" name="email" class="form-control" placeholder="Email" value="<%- locals.linEmail %>"
            required />
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
          </div>
          <input type="password" name="password" class="form-control" placeholder="Password"
            value="<%- locals.linEmail %>" required />
        </div>
        <div class="form-group flex-container-right">
          <input type="submit" class="btn btn-login btn-action" value="Login" />
        </div>
        <h5 class="flex-container-center or">OR</h5>
        <!--INITIAL-->
        <!-- <a href="/auth/google" class="no-link">
          <div style="display: flex; " class="flex-container-center">
            <div style="display: flex; background-color: white; align-items: center; padding: 10px;">
              <img src="images/google.png" alt="" class="icon">
            </div>
            <div class="google-button">
              Continue with Google
            </div>
          </div>
        </a> -->
        <!--END INITIAL-->
        <a class="form-group input-group" href="/auth/google">
          <div class="input-group-prepend">
            <div class="input-group-text rm-border">
              <img src="images/google.png" alt="" class="icon">
            </div>
          </div>
          <div class="form-control google-button gf-btn">
            Continue with Google
          </div>
        </a>
        <a class="form-group input-group" href="/login/facebook">
          <div class="input-group-prepend">
            <div class="input-group-text rm-border">
              <img src="images/facebook.svg" alt="" class="icon">
            </div>
          </div>
          <div class="form-control facebook-button gf-btn">
            Continue with Facebook
          </div>
        </a>
      </form>

      <form id='register-form' action='/signup' method='POST'>
        <h2>Register</h2>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user"></i></div>
          </div>
          <input type="text" name="name" class="form-control" placeholder="Name" value="<%- locals.regName %>"
            required />
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
          </div>
          <input type="text" name="email" class="form-control" placeholder="Email" value="<%- locals.regEmail %>"
            required />
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-key"></i></div>
          </div>
          <input type="password" name="password" class="form-control" placeholder="Password"
            value="<%- locals.regPwd %>" required />
        </div>
        <div class="form-group flex-container-right">
          <input type="submit" class="btn btn-register" value="Register" />
        </div>
        <h5 class="flex-container-center or">OR</h5>

        <!--INITIAL-->
        <!--
        <a href="/auth/google" class="no-link form-group input-group">
          <div class="flex-container-center federation-container">
            <div class="federation-inner">
              <img src="images/google.png" alt="" class="icon">
            </div>
            <div class="google-button">
              Continue with Google
            </div>
          </div>
        </a>
        <a href="/login/facebook" class="no-link form-group input-group">
          <div class="flex-container-center federation-container">
            <div class="federation-inner">
              <img src="images/facebook.svg" alt="" class="icon">
            </div>
            <div class="facebook-button">
              Continue with Facebook
            </div>
          </div>
        </a> -->
        <!--END INITIAL-->

        <!--NOW-->
        <a class="form-group input-group" href="/auth/google">
          <div class="input-group-prepend">
            <div class="input-group-text rm-border">
              <img src="images/google.png" alt="" class="icon">
            </div>
          </div>
          <div class="form-control google-button gf-btn">
            Continue with Google
          </div>
        </a>
        <a class="form-group input-group" href="/login/facebook">
          <div class="input-group-prepend">
            <div class="input-group-text rm-border">
              <img src="images/facebook.svg" alt="" class="icon">
            </div>
          </div>
          <div class="form-control facebook-button gf-btn">
            Continue with Facebook
          </div>
        </a>
        <!--NOW-->
      </form>

    </div>

  </div>


</main>

<!-- Font Awesome CDN -->
<script src="https://kit.fontawesome.com/d1a817b2bd.js" crossorigin="anonymous"></script>
